nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-list{
    display: block;
    position: absolute;
    background-color: cornflowerblue;
    top: 10px;
}

.dropdown-link{
    list-style: none;
}

.dropdown-link:hover{
    background-color: violet;
}