*{
    text-align: center;
}

div{
    height: 200px;
    width: 200px;
    padding:50px; /* background color is applied to padding and content as both are present inside the margin */
    margin: 10px;
}

.external{
    background-color: green;
}

.box{
    background-color:peru ;
    padding: 20px;
    margin: 25px;
    border: 4px solid gold;
}